<!doctype html>
<html>

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div id="headbar">
        <span style="font-size: 64px">Internet To Do List</span><br>
        accessible anywhere you have a connection
    </div>
    <hr>
    <div id="allOfIt" style="background-color: white">
        <div class="form-container">
            <p class="form-header">Login</p>
            <form method="POST" action="/login">
                <label>Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label>Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" id="login" value="Login">
            </form>
        </div>
        or<br>
        <a id="signUpLink" href="/signup"><button>Sign Up</button></a>
        <hr>
        <span id="loginMsg">
    <%= msg %>
    </span>
    </div>
</body>

</html>
